.main-auth {
    text-align: center;
    justify-content: center;
    display: flex;
    padding: 90px 0;
}

.sub-main-auth {
    display: flex;
    justify-content: center;
    /* height: 550px; */
    width: 35%;
    box-shadow: 11px 12px 13px 12px rgba(104, 104, 104, 0.623);
    padding: 30px;
    border-radius: 60px;
}
.auth-form {
    width: 100%;
    text-align: leftx;
}
.auth-title {
    text-align: center;
    margin: 20px 0;
}
.form-input-group{
    margin: 15px 0;
}